body {
    margin: 0;
    display: grid;
    justify-content: center;
}

container {
    width: 960px;
    height: 100vh;
    margin: auto;
    background-color: aqua;
    display: grid;
    justify-content: center;
}
.btn {
    display: grid;
    justify-content: space-between;
}
.pixel {
    background-color: mintcream;
    box-shadow: 0px 0px 1px 0px teal;
    height: auto;
    width: auto;
    margin: 0;
}


.randomColor {
    background-color: chocolate;
}

gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: red;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

button {
    display: inline-block;
}
