body {
    margin: 0;
    display: grid;
    justify-content: center;
    background-color: mintcream;

}

container {
    width: 960px;
    height: 100vh;
    margin: 0px;
    display: grid;
    justify-content: center;
}

header {
    background-color: mintcream;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
}

header h1 {
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: hsl(303, 98%, 51%);
    background-image: linear-gradient(10deg, hsl(303, 98%, 51%), rgb(0, 96, 185));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-shadow:  2px 1px 20px 5px teal;
}


gridContainer {
    /*border: 2px solid black;*/
    width: 600px;
    height: auto;
    margin: 0;
    
}
.gridHead {
    margin: 0;
    padding-bottom: 0px;
    height: 25px;
    border: 2px solid hsl(303, 98%, 51%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    background-color: hsl(303, 98%, 51%);

}
.btns {
    
    height: 25px;
    width: auto;
    margin: auto;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.gridBtn {
    background-color: hsl(303, 98%, 51%); /* Green */
    border: none;
    color: white;
    width: 120px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.gridBtn:hover {
    background-color: rgb(0, 96, 185);
    border-radius: 5px;

}
.pixel {
    background-color: mintcream;
    box-shadow: 1px 1px 2px 0px teal;
    height: auto;
    width: auto;
    margin: 0px;
    border-radius: 2px;

}
.hue{
    filter: saturate(10%);
}

.randomColor {
    background-color: chocolate;
}

.grid {
    border: 2px solid hsl(303, 98%, 51%);
    display: grid;
    width: 600px;
    height: 650px;
    padding-top: 0px;
    margin: 0;
    background-color: hsl(303, 98%, 51%);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border-radius: 5px;
}

.colorChange {
    transition: background-color .3s ease;
}

footer {
    text-align: center;
}